@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(245 243 255);
  --foreground: #171717;
  --primary: rgb(147 51 234);;
  --secondary: ;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: ;
    --secondary: ;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
